# Surf 3.2.8
# Contact me on QQ:2682173972 or Discord Dreeam#0851
# For help with this plugin

#Anti-illegal >>

#Messages to send the player when they try to place illegal blocks
IllegalBlockPlace:
  Enabled: true
  Bedrock: '&6&l[&b&lSurf&6&l]&6 &6This block is not allowed'
  Barrier: '&6&l[&b&lSurf&6&l]&6 &6This block is not allowed'
  End_Portal_Frame: '&6&l[&b&lSurf&6&l]&6 &6This block is not allowed'
  Mob_Spawner: '&6&l[&b&lSurf&6&l]&6 &6This block is not allowed'
#The maximum value of allowing enchants
IllegalEnchants-Threshold: 5
#AntiIllegal check toggles
#Only enable ChunkLoad of you have a massive problem with illegals on your server
Antiillegal:
  #Disable Block-Place if you have IllegalStack
  BlockPlace-Enabled: false
  ChunkLoad-Enabled: false
  HopperTransfer-Enabled: true
  InventoryClick-Enabled: true
  HotbarMove-Enabled: true
  ItemPickup-Enabled: true
  PlayerSwapOffhand-Enabled: true
  Delete-Stacked-Totem: true
  Check-Illegal-Damage: true
  Illegal-Items-List:
    - "BARRIER"
    - "BEDROCK"
    - "REPEATING_COMMAND_BLOCK"
    - "COMMAND_BLOCK_MINECART"
    - "CHAIN_COMMAND_BLOCK"
    - "COMMAND_BLOCK"
    - "END_PORTAL_FRAME"
    - "KNOWLEDGE_BOOK"
    - "SPAWNER"
    - "END_PORTAL"
    - "NETHER_PORTAL"
    - "STRUCTURE_BLOCK"
    - "STRUCTURE_VOID"
IllegalDamage:
  Message: "&6&l[&b&lSurf&6&l]&6&6 You can not use this illegal item"
IllegalPotion:
  Message: "&6&l[&b&lSurf&6&l]&6&6 You can not use this illegal potion"

#Patch >>

#ChunkBan skull limit tile entity limit and prevent message
ChunkBan:
  Enabled: true
  Prevent-Message: '&6&l[&b&lSurf&6&l]&6 &6ChunkBan has been disabled'
  TileEntity-Max: 500
  Skull-Max: 100
#Nether top and bottom layers
Nether:
  Enabled: false
  Top-Layer: 127
  Top-message: '&6&l[&b&lSurf&6&l]&6 &6The nether top has been disabled due to lag'
  Bottom-Layer: 0
  Bottom-message: '&6&l[&b&lSurf&6&l]&6 &6The nether bottom has been disabled due to lag'
  top-bottom-do-damage: false
UnbookBan:
  Message: "&6&l[&b&lSurf&6&l]&6&6 You have been unbookbanned"
#Ammount of vehicles allowed in a chunk
Minecart-per-chunk:
  limit: 500
#water / lava flowing disable tps this is useful on new servers with lots of block physics updates that cause lag
#Set -1 to disable
BlockPhysics-disable-tps: 15

#Misc >>

#These are the connection messages for when a player joins / leaves
#Use & for colours and %player% as a placeholder for the players name
Connection:
  Player-Join-Message: "&7[&a+&7] &8%player%"
  Player-Leave-Message: "&7[&c-&7] &8%player%"
FirstJoin:
  Enabled: false
  Message: '&6[&bSurf&6] &c%Player%&6 has joined the &bYour&3Server &6for the first time'
#This is to prevent people from crashing / lagging the server by spam opening chest and other containers
#ChestLagFix:
#  MaxOpensPerSecond: 64
#  KickMessage: "&6&l[&b&lSurf&6&l]&6&c [AntiChestLag]&r&6 You have lost connection to the server"
#  RemoveUnicodeBooks: false
