name: Build
on:
  push:
    branches: [ main ]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 8
        uses: actions/setup-java@v2
        with:
          java-version: '8'
          distribution: 'adopt'
          
      - name: Build with Maven
        run: mvn -B package --file pom.xml
      - name: Upload SurfPatch
        uses: actions/upload-artifact@v2
        with:
          name: SurfPatch
          path: target/
